
/*--视窗--*/
#view{
	width:100%;
	height:100%;
	position: relative;
}

/*--导航--*/
#nav{
	width:100%;
	height:99px;
	background: #FFFFFF;
	border-bottom:1px solid #e6e6e6;
}
#nav div{
	font-size:40px;
	line-height:50px;
	/*font-weight: bold;*/
	height:50px;
	cursor: pointer;
	margin:25px 0 0 30px;
}
#nav ul li{
	height:50px;
	margin:25px 35px 0 35px;
	transition:.2s;
}
#nav ul li:nth-child(2){
	opacity: .5;
}
#nav ul li a{
	font-size:16px;
	line-height:50px;
}
#nav ul li:hover{
	opacity: .5;
}

/*--content--*/
#content{
	width:100%;
	height:100%;
	background:#FFFFFF;
	position: absolute;
	transition: .5s;
	top:0;
}
#content #bottom_bar{
	width:100%;
	display:flex;
	box-orient:horizontal;
	display:-webkit-flex;*/
	display:-moz-flex;
	display:-ms-flexbox;
	position:fixed;
	bottom: -3px;
	background:#000000;
}
#content #bottom_bar li{
	flex: auto;
	cursor: pointer;
	background-repeat:no-repeat;
	background-size: cover;
	background-position-x: center;
	transition: .2s;
	-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
#content #bottom_bar .hover{
	transform: scale(1.3);
	transform-origin: bottom;
	z-index:1;
	-webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
}
#prev,#next{
	width:45px;
	height:54px;
	cursor: pointer;
	position: absolute;
	top:-120px;
	display: block;
	opacity: .4;
}
#prev{
	left:30px;
	background-image:url(../img/left-arrow_dark.svg);
	background-repeat: no-repeat;
	background-size:100%; 
}
#next{
	right:30px;
	background-image:url(../img/right-arrow_dark.svg);
	background-repeat: no-repeat;
	background-size:100%;
}
#content #bottom_bar .filter{
	-webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
}
#svg{
	width:100%;
	height:100%;
	overflow: hidden;
	background:url(../img/bg.png) no-repeat;
	background-size:100%;
	position: relative;
}
#svg svg{
	width:65%;
	display: block;
	overflow: visible;
	position: absolute;
	top: 60%;
	left: 50%;
	margin:-32.5% 0 0 -32.5%;
	transition: 1s;
}


#menu{
	width:40px;
	height:30px;
	cursor: pointer;
	position: absolute;
	top:20px;
	right:40px;
}
#menu span{
	width:100%;
	height:4px;
	display: block;
	background-color:rgba(0,0,0,.5);
	position: absolute;
	transition: .5s;
}
#menu span:nth-child(2){
	top:13px;
}
#menu span:nth-child(3){
	bottom:0;
}


/*- self -*/
#self{
	width:100%;
	height:100%;
	position:absolute;
	overflow: hidden;
	top:0;
	opacity:0;
	transform: translate3d(-100%,0,0);
	transition: 1s;
}
#self svg{
	width:100%;
	display: block;
	overflow: visible;
	position: absolute;
	top: 50%;
	transform: scale(1.2);
	margin:-20% 0 0 0;
	pointer-events: none;
}

canvas{
	display: block;
}


/*- 名称详情 -*/
#nameDetails,#selfDetails{
	position: absolute;
	top:110px;
	left:30px;
	color: rgba(0,0,0,.4);
}
#name{
	font-size:4vw;
	overflow: hidden;
}
#name span{
	font-size:2vw;
}
#Details,#selfD{
	font-size:2vw;
	line-height:3vw;
	margin-top:4vw;
	overflow: hidden;
}
/*- 任职年份 -*/
#years{
	position: absolute;
	top:110px;
	right:40px;
	font-size:5vw;
	transition:1s;
	color: rgba(0,0,0,.4);
}


#selfD h3{
	font-size:4vw;
}


#selfClose{
	position: absolute;
	top:100px;
	right:50px;
	width:130px;
	height:80px;
	border:1px solid rgba(0,0,0,.5);
	background:rgba(255,255,255,.1);
	color:rgba(0,0,0,.5);
	font-size:20px;
	line-height:80px;
	text-align: center;
	cursor: pointer;
	transition: .5s;
}
#selfClose:hover{
	background:rgba(0,0,0,.4);
	color:rgba(255,255,255,1);
	transform: scale(1.1);
	border-color:rgba(255,255,255,1);
	box-shadow: none;
}

#loading{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: #FFFFFF;
}
#loading div{
	margin:20% auto;
	width:150px;
	height:150px;
	background:url(../img/star.png) no-repeat;
	background-size:cover;
	animation: 3s move infinite linear;
	-webkit-animation: 3s move infinite linear;
}

@keyframes move {
	 from {
	 	transform: rotate(0deg);
	 }
	 to {
	 	transform: rotate(360deg);
	 }
}

/*#github{
	position: absolute;
	top:60vh;
	right:100px;
	width:50px;
	height:50px;
	background:url(../img/timg.png) no-repeat;
	background-size:cover;
	background-color:rgba(0,0,0,.2);
}*/
